{{define "head"}}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ "/styles/gallery.css" | relURL }}">
<style>
    .row {
        display: flex;
    }

    .cinematic {
        flex: 40%;
    }

    .synopsis {
        flex: 60%;
    }

    .no_cinematic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
        text-decoration: none;
        background: #eee;
        border-radius: 5px;
    }

    .no_cinematic_text {
        margin: 0;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    <!-- Round Navigation Menu -->
    <ul class="menu">
        {{ range .Site.Menus.rounds }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    <hr />
    <!-- Round Title -->
    <header>
        {{ block "header-extra" . }}
        {{end}}
        <h1>{{ .Title | markdownify }}</h1>
        {{ range (.GetTerms "Contributors") }}
        <span class="author"><a href="{{.Permalink}}">{{ .Title }}</a></span>
        {{ end }}
        {{ with .Params.date }}<time datetime='{{ .Format "2006-02-01" }}'> {{ .Format "January 2, 2006" }} </time>{{ end }}
        </div>
        {{ with .Draft }}
        <mark>Unlisted</mark>
        {{ end }}
    </header>
    <main>
        <div class="row">
            <!-- Cinematic & Recordings Column -->
            <div class="cinematic">
                <h1>Intro Cinematic</h1>
                {{with .Params.cinematic}}
                {{ $cinematic := resources.Get . }}
                {{with $cinematic}}
                <video width="400" height="300" controls src="{{.RelPermalink}}" type="video/mp4"></video>
                {{else}}
                Missing resource!
                {{end}}
                {{else}}
                <div class="no_cinematic">
                    <img src='{{ "404.png" | relURL }}'/>
                    <h3 class="no_cinematic_text">No Cinematic!</h3>
                </div>
                {{end}}

                <h1>Round Recordings</h1>
                {{ range $map := .Params.recordings }}
                <li><a href="{{ index $map "url" }}">{{ index $map "text" }}</a></li>
                {{else}}
                No recordings!
                {{end}}
                <br>
                <a href="https://www.youtube.com/playlist?list=PLBRm0wnCu_DjDvNAu3OyQI8IU4zQU-4ZD&jct=0rUXKhLKtrj4_losPel4XQ">Visit the YouTube playlist for more!</a>
            </div>
            <!-- Synopsis Column -->
            <div class="synopsis">
                <h1>Synopsis</h1>
                {{ $synopsis := string .Params.synopsis }}
                {{ readFile (.GetPage $synopsis) | markdownify }}
            </div>
        </div>
        <div>
            {{ .Content }}
        </div>
        <!-- Gallery -->
        <div>
            <h1>Gallery</h1>
            <div class="gallery">
                {{ $gallery := string .Params.gallery }}
                {{ range sort (.GetPage $gallery).Pages ".File.BaseFileName" }}
                <div class="gallery_box">
                    <div class="gallery_media_crop">
                        {{ $author := delimit .Params.author ", " }}
                        {{ $title := .Params.title }}
                        {{ $desc := .Params.desc }}
                        {{ $media := .Params.media }}
                        {{ $media_type := .Params.media_type }}

                        {{with resources.Get $media}}

                        {{ if eq $media_type "image" }}
                        <img
                            src="{{.RelPermalink}}"
                            class="gallery_media"
                            data-author="{{ $author }}"
                            data-title="{{ $title }}"
                            data-desc="{{ $desc }}"
                            data-type="{{ $media_type }}"
                        >
                        {{else}}
                        <video
                            src="{{.RelPermalink}}"
                            type="video/mp4"
                            class="gallery_media"
                            data-author="{{ $author }}"
                            data-title="{{ $title }}"
                            data-desc="{{ $desc }}"
                            data-type="{{ $media_type }}"
                        >
                        {{end}}

                        {{else}}
                        Missing resource!
                        {{end}}
                    </div>
                    <h6 class="gallery_text">{{ $author }}</h6>
                </div>
                {{end}}
            </div>
        </div>
    </main>
</article>

<!-- Gallery Media Modal -->
<dialog id="gallery_modal">
    <span id="close_modal">&times;</span>
    <span id="left_arrow">&#xFFE9;</span>
    <span id="right_arrow">&#xFFEB;</span>
    <div class="modal_contents" autofocus>
        <div id="modal_media_contents">
            <div id="modal_media_box">
                <h5 id="modal_attribution" class="gallery_text" data-prefixedtext="contributed by "></h5>
            </div>
        </div>
        <div class="modal_textbox">
            <h4 id="modal_title"></h4>
            <div id="modal_text"></div>
        </div>
    </div>
</dialog>

<script defer language="javascript" type="text/javascript" src="{{ .Site.BaseURL }}{{ "/js/round.js" | relURL }}"></script>
{{end}}