{{define "head"}}
<style>
    .row {
        display: flex;
    }

    .cinematic {
        flex: 38%;
        margin-right: 2%;
    }

    .synopsis {
        flex: 60%;
    }

    .no_cinematic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 4 / 3;
        text-decoration: none;
        background: #eee;
        border-radius: 5px;
    }

    .no_cinematic_text {
        margin: 0;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    <!-- Round Navigation Menu -->
    <ul class="menu">
        {{ range .Site.Menus.rounds }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    <hr />
    {{ partial "header" (dict "context" . "title" .Title) }}
    <main>
        <div class="row">
            <!-- Cinematic & Recordings Column -->
            <div class="cinematic">
                <h1>Intro Cinematic</h1>
                {{with .Params.cinematic}}
                {{ $cinematic := resources.Get . }}
                {{with $cinematic}}
                <video style="aspect-ratio: 4 / 3;" controls src="{{.RelPermalink}}" type="video/mp4"></video>
                {{else}}
                Missing resource!
                {{end}}
                {{else}}
                <div class="no_cinematic">
                    <img src='{{ "404.png" | relURL }}'/>
                    <h3 class="no_cinematic_text">No Cinematic!</h3>
                </div>
                {{end}}

                <h1>Round Recordings</h1>
                {{ range $map := .Params.recordings }}
                <li><a href="{{ index $map "url" }}">{{ index $map "text" }}</a></li>
                {{else}}
                No recordings!
                {{end}}
                <br>
                <a href="https://www.youtube.com/playlist?list=PLBRm0wnCu_DjDvNAu3OyQI8IU4zQU-4ZD&jct=0rUXKhLKtrj4_losPel4XQ">Visit the YouTube playlist for more!</a>
            </div>
            <!-- Synopsis Column -->
            <div class="synopsis">
                <h1>Synopsis</h1>
                {{ $synopsis := string .Params.synopsis }}
                {{ readFile (.GetPage $synopsis) | markdownify }}
            </div>
        </div>
        <div>
            {{ .Content }}
        </div>
        <!-- Gallery -->
        <div>
            <h1>Gallery</h1>
            {{ $args := dict
                "context"           .
                "show_title"        false
                "has_copyright"     false
                "gallery_pages"     (.GetPage (string .Params.gallery)).Pages
            }}
            {{ partial "gallery" $args }}
        </div>
    </main>
</article>
{{end}}