{{ define "head" }}
<style>
    article.summary footer {
        padding-top: 1em;
    }
    article.summary {
        margin-bottom: 1em;
    }

    article.summary+article.summary {
        border-top: 1px solid grey;
    }

    main :first-child.date-marker {
        display: none;
    }

    .date-marker {
        color: grey;
        display: grid;
        grid-template-columns: auto min-content auto;
        align-items: center;
        white-space: nowrap; /* needed for Pale Moon */
    }

    .date-marker::before,
    .date-marker::after {
        height: 1px;
        background-color: grey;
        content: "";
    }
    .date-marker::before {
        margin-right: 1em;
    }
    .date-marker::after {
        margin-left: 1em;
    }
    .permalink {
        font-size: 10pt;
    }
</style>
{{end}}

{{ define "main" }}
{{ with .Content }}
<section class="list-content">
    {{ . }}
</section>
{{ end }}
{{ range (where .Site.RegularPages "Section" "post").GroupByDate "January"}}
<span class="date-marker">{{ .Key }}</span>
{{ range .Pages }}
<article class="summary">
    <h1>{{ .Title | markdownify }}</h1>
    {{if .Draft}}
    <mark>WORK-IN-PROGRESS</mark>
    {{end}}
    <section class="summary">
        {{ .Summary | markdownify }}
        {{ if .Truncated }}
            <a href="{{ .Permalink }}">Read more</a>
        {{ end }}
    </section>
    <footer>
        <address>
        {{ range (.GetTerms "Contributors") }}
        <span class="author"><a href="{{.Permalink}}">{{ .Title }}</a></span>
        {{ end }}
        </address>
        {{ with .Params.date }}<time datetime='{{ .Format "2006-02-01" }}'> {{ .Format "January 2, 2006" }} </time>{{ end }}
        <a rel="self" class="permalink" href="{{ .RelPermalink }}">permalink</a>
    </footer>
</article>
{{ end }}
{{ end }}
{{ end }}
