{{ $context := .context }}
{{ $title := .title }}
<header>
    {{ block "header-extra" $context }}
    {{ end }}
    <h1>{{ $title | markdownify }}</h1>
    {{ range ($context.GetTerms "Contributors") }}
    <span class="author"><a href="{{.Permalink}}">{{ $context.Title }}</a></span>
    {{ end }}
    {{ with $context.Params.date }}
    <time datetime='{{ $context.Format "2006-02-01" }}'> {{ $context.Format "January 2, 2006" }} </time>
    {{ end }}
    </div>
    {{ with $context.Draft }}
    <mark>Unlisted</mark>
    {{ end }}
</header>