{{ define "main" }}
<article>
    <header>
        {{ block "header-extra" . }}
        {{end}}
        <h1>{{ .Data.Term | markdownify }}'s Contributions</h1>
        {{ range (.GetTerms "Contributors") }}
        <span class="author"><a href="{{.Permalink}}">{{ .Title }}</a></span>
        {{ end }}
        {{ with .Params.date }}<time datetime='{{ .Format "2006-02-01" }}'> {{ .Format "January 2, 2006" }} </time>{{ end }}
        </div>
        {{ with .Draft }}
        <mark>Unlisted</mark>
        {{ end }}
    </header>

    {{ .Content }}

    <ul>
    {{ $pages := .Pages }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
        {{ with .Date }}
        <time datetime='{{ .Format "2006-02-01" }}'>{{ .Format "2006/01/02" }}</time>
        {{end}}

        {{ if .File }}

        {{ if eq .File.Section "rounds" }}
        {{ $permalink := (.GetPage (print "/rounds/" .Parent.File.ContentBaseName)).RelPermalink }}
        <a href="{{ $permalink }}#{{ .File.BaseFileName }}">{{ .Title | markdownify }}</a>
        {{else}}
        {{ $permalink := (.GetPage (.File.Section)).RelPermalink }}
        <a href="{{ $permalink }}#{{ .File.BaseFileName }}">{{ .Title | markdownify }}</a>
        {{end}}
        
        {{end}}
    </li>
    {{ end }}
    </ul>
</article>
{{ end }}