{{ define "main" }}
<article>
    {{ partial "header" (dict "context" . "title" (print .Data.Term "'s Contributions")) }}

    {{ .Content }}

    <ul>
    {{ $pages := .Pages }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
        {{ with .Date }}
        <time datetime='{{ .Format "2006-02-01" }}'>{{ .Format "2006/01/02" }}</time>
        {{end}}

        {{ if .File }}

        {{ if eq .File.Section "rounds" }}
        {{ $permalink := (.GetPage (print "/rounds/" .Parent.File.ContentBaseName)).RelPermalink }}
        <a href="{{ $permalink }}#{{ .File.BaseFileName }}">{{ .Title | markdownify }}</a>
        {{else}}
        {{ $permalink := (.GetPage (.File.Section)).RelPermalink }}
        <a href="{{ $permalink }}#{{ .File.BaseFileName }}">{{ .Title | markdownify }}</a>
        {{end}}
        
        {{end}}
    </li>
    {{ end }}
    </ul>
</article>
{{ end }}