{{define "head"}}
<style>
    h3 {
        margin: 0;
    }

    .contributors {
        display: flex;
    }

    .column {
        width: 66%;
    }

    .contributor_list {
        margin-bottom: 25px;
        margin-left: 10px;
    }

    .author_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        column-gap: 10px;
        margin-left: 10px;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    {{ partial "header" (dict "context" . "title" .Title) }}
    <main>
        <h1>35 Below Contributors</h1>
        <div class="contributors">
            <div class="column">
                <h3>Code And Visual Assets</h3>
                <div class="contributor_list">
                    {{ range $name := .Params.assets }}
                    {{ $name }}<br>
                    {{end}}
                </div>
                <h3>Writing, Conceptualisation, Additional Support</h3>
                <div class="contributor_list">
                    {{ range $name := .Params.support }}
                    {{ $name }}<br>
                    {{end}}
                </div>
            </div>
            <div>
                <h3>Special Thanks</h3>
                <div class="contributor_list">
                    {{ range $name := .Params.thanks }}
                    {{ $name }}<br>
                    {{end}}
                </div>
            </div>
        </div>
        <h1>Archive Contributors</h1>
        <div class="author_list">
            {{ range (.GetPage "/author").Pages }}
            <div>
                <a href="{{.Permalink}}">{{ .Data.Term }} ({{ .Pages | len }})</a>
            </div>
            {{end}}
        </div>
    </main>
</article>
{{end}}