{{define "head"}}
<style>
    .newsreader {
        display: flex;
        margin-top: 10px;
    }

    .newsreader hr {
        border-style: solid;
        color: #000;
    }

    .selector_column {
        position: sticky;
        top: 0;
        width: 30%;
        height: 100vh;
        overflow-y: scroll;
        margin-right: 8px;
    }

    .selector {
        background: #eee;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 2px;
    }

    .selector.selected {
        background: #ccc;
    }

    .selector:hover {
        opacity: 0.7;
    }

    .selector div {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }

    .article_column  {
        width: 70%;
        background: #eee;
        border-radius: 5px;
        padding: 5px;
    }

    #no_article {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #no_article img {
        min-width: 25%;
        image-rendering: pixelated;
    }

    #article {
        display: none;
        flex-direction: column;
        gap: 5px;
    }

    #copyright_text {
        font-style: italic;
        text-align: right;
        color: grey;
        padding-left: 3px;
        padding-right: 3px;
        margin: 0;
    }

    hr.copyright_divider {
        border-style: dashed;
        color: grey;
        margin: 0;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    {{ partial "header" (dict "context" . "title" .Title) }}
    <main>
        <div class="newsreader">
            <div class="selector_column">
                {{ $publishers := resources.Get "text/publishers.yaml" | transform.Unmarshal }}

                {{ range sort .RegularPagesRecursive ".Params.article_date" "desc" }}
                {{ $publisher := index $publishers .Params.article_publ }}

                <div
                    class="selector"
                    data-article_id="{{ .File.BaseFileName }}"
                    data-copyright_text="{{ delimit .Params.author `, ` }}"
                    data-publisher_body="{{ $publisher.body }}"
                    data-article_head="{{ .Params.article_head }}"
                    data-article_subt="{{ .Params.article_subt }}"
                    data-article_auth="{{ .Params.article_auth }}"
                    data-article_date="{{ time.AsTime .Params.article_date | time.Format `:date_long` }}"
                    data-article_body="{{ .Params.article_body }}"
                >
                    <div><b>{{ .Params.article_head | safeHTML }}</b></div>
                    <div><i>{{ $publisher.name | safeHTML }}</i></div>
                    <div><i>{{ time.AsTime .Params.article_date | time.Format ":date_long" }}</i></div>
                </div>

                {{ end }}
            </div>
            <div class="article_column container">
                <div id="no_article">
                    <img src='{{ "404.png" | relURL }}'/>
                    <h3>Please select an article from the left.</h3>
                </div>
                <div id="article">
                    <div>
                        <h5 id="copyright_text"></h5>
                        <hr class="copyright_divider">
                    </div>

                    <div id="publisher_body">
                    </div>

                    <div>
                        <h3 id="article_head"></h3>
                    </div>

                    <div>
                        <i id="article_subt"></i>
                    </div>

                    <div>
                        <i id="article_auth"></i>
                    </div>

                    <div>
                        <i id="article_date"></i>
                        <hr>
                    </div>
                    
                    <div id="article_body" textAlign="justify">
                    </div>
                </div>
            </div>
        </div>
    </main>
</article>

<script defer language="javascript" type="text/javascript" src="{{ .Site.BaseURL }}{{ "/js/newsreader.js" | relURL }}"></script>

{{end}}