
{{define "head"}}
<style>
    main.submission {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title | markdownify }}</h1>
        {{ range (.GetTerms "Contributors") }}
        <span class="author"><a href="{{.Permalink}}">{{ .Title }}</a></span>
        {{ end }}
        {{ with .Params.date }}<time datetime='{{ .Format "2006-02-01" }}'> {{ .Format "January 2, 2006" }} </time>{{ end }}
        </div>
        {{ with .Draft }}
        <h1>DRAFT ARTICLE - DO NOT DISTRIBUTE</h1>
        {{ end }}
    </header>
    <main class="submission">
        {{with .Params.media}}
        {{ $image := resources.Get . }}
        {{ $thumb := $image.Fit "500x500" }}
        {{with $thumb}}
        <img class="subject" src="{{.RelPermalink}}" width="{{ .Width }}" height="{{ .Height }}">
        {{end}}
        <a href="{{$image.RelPermalink}}">Full Image</a>
        {{else}}
        <mark>Missing image def!</mark>
        {{end}}
        {{ .Content }}
    </main>
</article>
{{end}}