
{{define "head"}}
<style>
    main.submission {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
    }
</style>
{{end}}

{{ define "main" }}
<article>
    {{ partial "header" (dict "context" . "title" .Title) }}
    <main class="submission">
        {{with .Params.media}}
        {{ $image := resources.Get . }}
        {{ $thumb := $image.Fit "500x500" }}
        {{with $thumb}}
        <img class="subject" src="{{.RelPermalink}}" width="{{ .Width }}">
        {{end}}
        <a href="{{$image.RelPermalink}}">Full Image</a>
        {{else}}
        <mark>Missing image def!</mark>
        {{end}}
        {{ .Content }}
    </main>
</article>
{{end}}